# --- Frontend (Flutter) ---
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub/
frontend/.packages
frontend/build/
frontend/ios/Flutter/.last_build_id
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/

# --- IDEs & System ---
.idea/
.vscode/
*.iml
*.iws
*.ipr
.dart_tool/
.DS_Store

# --- Backend (Spring Boot) ---
backend/target/
backend/bin/
backend/HELP.md

#---Extras-----
macos/
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
!android/debug.keystore
ios/
.dart_tool/